.moveList {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0 auto;
	margin-bottom: 10px;

	.moveButton {
		font-size: 20px;
		border-radius: 5px;
		cursor: pointer;
	}
}
.detailInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	img {
		width: 80px;
		margin: 0 2rem;
	}
	li {
		width: 60%;
		margin: 0;
		border: none;
		padding: 0;
		cursor: auto;
	}
}
.markdownContainer {
	border: 1px solid #b0b0b0ee;
	border-radius: 2rem;
	width: 60%;
	padding: 30px 50px;
	margin: 50px auto;
	font-size: 16px;
	line-height: 1.6;
	color: #333;

	h1 {
		font-size: 24px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #bebebe;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #bebebe;
	}

	p {
		margin-bottom: 20px;
	}

	a {
		color: #007bff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	img {
		width: 100%;
	}

	code {
		background-color: #e1e0e0;
		padding: 5px;
	}

	blockquote {
		border-left: 3px solid #ccc;
		padding-left: 10px;
		margin-left: 0;
		font-style: italic;
	}
}
