.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	button {
		font-size: 60px;
		border: none;
		border-radius: 10px;
		background-color: #58a9df;
		color: white;
		padding: 10px 20px;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: #53baff;
			scale: 1.1;
		}
	}
}
